:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-color: #2f303a;
  --fone-color: #f5f4fa;
  --page-color: #e5e5e5;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--page-color);
}

.nav,
.auth-nav,
.auth {
  text-decoration: none;
}

.nav.current {
  color: var(--accent-color);
}

.nav:hover,
.nav:focus,
.auth-nav:hover,
.auth-nav:focus,
.auth:focus,
.auth:hover {
  color: var(--accent-color);
}

.logo {
  color: var(--title-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
span {
  color: var(--accent-color);
}

footer {
  background-color: var(--background-color);
}

.footer-text {
  color: var(--white-color);
}
.header {
  background-color: var(--white-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav {
  color: var(--title-color);
}

.auth-nav {
  color: var(--text-color);
}

.auth {
  color: rgba(255, 255, 255, 0.6);
}

address {
  text-decoration: none;
  font-style: inherit;
}
.name {
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.position {
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.h2-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.specific {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.hero {
  color: var(--white-color);
  background-color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.team {
  background-color: var(--fone-color);
}
.main-button {
  font-weight: 700;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
}
.button {
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.main-button,
.button {
  font-family: inherit;
  cursor: pointer;
}

button:focus,
button:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.title-description {
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.non-seen {
}
